html {
  box-sizing: border-box;
}
body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

footer {
  display: block;
}

section {
  overflow: hidden;
}

.selects {
  display: inline-flex !important;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.resrev-center {
  display: inline-block;
  width: auto;
}

footer {
  width: 100%;
}

@media all and (max-width: 600px) {
  #restaurant-container,
  #reviews-container {
    float: none;
    width: 100%;
  }
  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 15%;
    position: relative;
    top: 4%;
    width: 100%;
  }
  .inside #footer {
    width: 100%;
  }
  .inside header {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  #restaurant-container {
    padding: 0 40px 30px;
  }
  #map {
    position: relative;
    overflow: hidden;
  }
  .inside #map {
    background-color: #ccc;
    height: 300px;
    width: 100%;
    overflow: hidden;
  }
}
